<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection_string" value="Host=localhost;Username=tourplanner;Password=tourplanner123;Database=tourplanner"/>
    <add key="base_directory" value="C:\Tourplanner_Images\"/>
    <add key="mapquest_base_url" value="https://www.mapquestapi.com/"/>
    <add key="mapquest_key" value="KEY"/>
  </appSettings>
</configuration>