<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection_string" value="Host=localhost;Username=tourplanner;Password=tourplanner123;Database=tourplanner"/>
    <add key="base_directory" value="C:\Tourplanner\Images\"/>
    <add key="placeholder_pic" value="C:\Tourplanner\Images\placeholder\placeholder.jpg"/>
    <add key="mapquest_key" value="CgYKFQAs9XGwzQWrq4AW3DQypxf0Fd10"/>
    <add key="download_directory" value="C:\Tourplanner\Downloads\"/>
  </appSettings>
</configuration>